@model Forum.Models.Discussion

@{
    ViewBag.Title = "See";
}

<h2>@Model.Title</h2>

@foreach (var message in Model.Messages)
{
    <div>@message.Content</div>
    <div class="by">@message.Author</div>
}

